<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalUtilities" version="5.2.4" targetFramework="net461" />
  <package id="Graphviz" version="2.38.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="GraphViz.NET" version="1.0.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net461" />
  <package id="System.Management" version="4.7.0" targetFramework="net461" />
</packages>