
name: Build and Test

on:
  push:
  pull_request:

jobs:

  build-and-test:
    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@34cfbaee7f672c76950673338facd8a73f637506

    - name: build and test
      run: ./build-and-test.cmd
